body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:rgb(8, 8, 8);
  color:white;
  text-align: center;
}

.header-main h1 {
  font-weight: normal;
  font-size: 50px;
  color:white;
}

a{
  color:aquamarine;
  font-size: 16px;
}

.section2 h2{
  font-size:42px;
  font-weight: 300px;
}
.section2 p{
  font-size:21px;
  color:gray;
}

footer{
  text-align:right;
  padding-right: 50px;
  font-size:21px;
  color:gray
}


