*{
  background-color:rgb(10, 10, 10);
  color:white;
  text-align: center;
}

.section1 h1 {
  /* font-family: ; */
  font-weight: normal;
  font-size: 50px;
  color:white;
}

a{
  color:aquamarine;
  font-size: 16px;
}

.section2 h2{
  font-size:42px;
  font-weight: 300px;
}
.section2 p{
  font-size:21px;
  color:gray;
}

